body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: navy;
  color: white;
}

a {
  color: #00B7FF;
}

canvas
{
  display: block;
  margin: auto;
  background-color: lightskyblue;
}

.img
{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4JVmoIcL2GfLV4MOU1JCA5mym-ruWPwAbquSGBdLMcCc_OJRc");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
